<%= gravatar_for @user %>
<%= @user.name %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
    <h1>name: <%=@user.name%>   email: <%= @user.email %>
    </section>
  </aside>
</div>